[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex/
[submodule "bundle/smart-parentheses"]
	path = bundle/smart-parentheses
	url = http://github.com/vim-scripts/Smart-Parentheses.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = http://github.com/Townk/vim-autoclose.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = http://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = http://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "autoload"]
	path = autoload
	url = git@github.com:drakeguan/vim-pathogen.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = http://repo.or.cz/r/vcscommand.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = http://github.com/fs111/pydoc.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-pep8"]
	path = bundle/vim-pep8
	url = http://github.com/nvie/vim-pep8.git
[submodule "bundle/vim-gf-python"]
	path = bundle/vim-gf-python
	url = git@github.com:drakeguan/vim-gf-python.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = http://github.com/hallison/vim-markdown.git
