[submodule "autoload"]
	path = autoload
	url = git@github.com:drakeguan/vim-pathogen.git
[submodule "available/autoclose"]
	path = available/autoclose
	url = git@github.com:drakeguan/vim-autoclose.git
[submodule "available/matchit"]
	path = available/matchit
	url = git@github.com:drakeguan/vim-matchit.zip.git
[submodule "available/gf-python"]
	path = available/gf-python
	url = git@github.com:drakeguan/vim-gf-python.git
[submodule "available/markdown"]
	path = available/markdown
	url = git@github.com:drakeguan/vim-markdown.git
[submodule "available/vcscommand"]
	path = available/vcscommand
	url = git@github.com:drakeguan/vim-vcscommand.git
[submodule "available/python_ifold"]
	path = available/python_ifold
	url = git@github.com:drakeguan/vim-python_ifold.git
[submodule "available/supertab"]
	path = available/supertab
	url = git@github.com:drakeguan/vim-supertab.git
[submodule "available/xmledit"]
	path = available/xmledit
	url = git@github.com:drakeguan/vim-xmledit.git
[submodule "available/cuteErrorMarker"]
	path = available/cuteErrorMarker
	url = git@github.com:drakeguan/vim-cuteErrorMarker.git
[submodule "available/VisIncr"]
	path = available/VisIncr
	url = git@github.com:drakeguan/vim-VisIncr.git
[submodule "available/Command-T"]
	path = available/Command-T
	url = git@github.com:drakeguan/vim-Command-T.git
[submodule "available/YankRing"]
	path = available/YankRing
	url = git@github.com:drakeguan/vim-YankRing.vim.git
[submodule "available/taglist"]
	path = available/taglist
	url = git@github.com:drakeguan/vim-taglist.vim.git
[submodule "available/pep8"]
	path = available/pep8
	url = git@github.com:drakeguan/vim-pep8.git
[submodule "available/Smart-Parentheses"]
	path = available/Smart-Parentheses
	url = git@github.com:drakeguan/vim-Smart-Parentheses.git
[submodule "available/tagbar"]
	path = available/tagbar
	url = git@github.com:drakeguan/vim-tagbar.git
[submodule "available/surround"]
	path = available/surround
	url = git@github.com:drakeguan/vim-surround.git
[submodule "available/snipmate"]
	path = available/snipmate
	url = git@github.com:drakeguan/vim-snipmate.vim.git
[submodule "available/ack"]
	path = available/ack
	url = git@github.com:drakeguan/vim-ack.vim.git
[submodule "available/nerdcommenter"]
	path = available/nerdcommenter
	url = git@github.com:drakeguan/vim-nerdcommenter.git
[submodule "available/nerdtree"]
	path = available/nerdtree
	url = git@github.com:drakeguan/vim-nerdtree.git
[submodule "available/OmniCppComplete"]
	path = available/OmniCppComplete
	url = git@github.com:drakeguan/vim-OmniCppComplete.git
[submodule "available/latex"]
	path = available/latex
	url = git@github.com:drakeguan/vim-latex.git
[submodule "available/conque"]
	path = available/conque
	url = git@github.com:drakeguan/vim-conque.git
[submodule "available/sessionman"]
	path = available/sessionman
	url = git@github.com:drakeguan/vim-sessionman.vim.git
[submodule "available/pydoc"]
	path = available/pydoc
	url = git@github.com:drakeguan/vim-pydoc.vim.git
[submodule "available/pylint"]
	path = available/pylint
	url = git@github.com:drakeguan/vim-pylint.git
