[submodule "available/autoclose"]
	path = available/autoclose
	url = git@github.com:drakeguan/vim-autoclose.git
[submodule "available/matchit"]
	path = available/matchit
	url = git@github.com:drakeguan/vim-matchit.zip.git
[submodule "available/gf-python"]
	path = available/gf-python
	url = git@github.com:drakeguan/vim-gf-python.git
[submodule "available/python_ifold"]
	path = available/python_ifold
	url = git@github.com:drakeguan/vim-python_ifold.git
[submodule "available/cuteErrorMarker"]
	path = available/cuteErrorMarker
	url = git@github.com:drakeguan/vim-cuteErrorMarker.git
[submodule "available/VisIncr"]
	path = available/VisIncr
	url = git@github.com:drakeguan/vim-VisIncr.git
[submodule "available/Command-T"]
	path = available/Command-T
	url = git@github.com:drakeguan/vim-Command-T.git
[submodule "available/surround"]
	path = available/surround
	url = git@github.com:drakeguan/vim-surround.git
[submodule "available/snipmate"]
	path = available/snipmate
	url = git@github.com:drakeguan/vim-snipmate.vim.git
[submodule "available/nerdtree"]
	path = available/nerdtree
	url = git@github.com:drakeguan/vim-nerdtree.git
[submodule "available/OmniCppComplete"]
	path = available/OmniCppComplete
	url = git@github.com:drakeguan/vim-OmniCppComplete.git
[submodule "available/latex"]
	path = available/latex
	url = git@github.com:drakeguan/vim-latex.git
[submodule "available/conque"]
	path = available/conque
	url = git@github.com:drakeguan/vim-conque.git
[submodule "available/pydoc"]
	path = available/pydoc
	url = git@github.com:drakeguan/vim-pydoc.vim.git
[submodule "available/tComment"]
	path = available/tComment
	url = http://github.com/vim-scripts/tComment.git
[submodule "available/SpellChecker"]
	path = available/SpellChecker
	url = https://github.com/vim-scripts/SpellChecker
[submodule "available/ack"]
	path = available/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "available/tagbar"]
	path = available/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "available/nerdcommenter"]
	path = available/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "available/pylint"]
	path = available/pylint
	url = https://github.com/rygwdn/vim-pylint.git
[submodule "available/markdown"]
	path = available/markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule "available/Smart-Parentheses"]
	path = available/Smart-Parentheses
	url = https://github.com/vim-scripts/Smart-Parentheses.git
